<router-outlet></router-outlet>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hotel App</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Habitaciones</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Reservas</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Iniciar sesión</a></li>
        </ul>
      </nav>
    </header>
    <!-- menu bar -->

    <!-- main page -->
    <main>
      <h1>Bienvenidos al Hotel App</h1>
      <p>Descubre todo lo que nuestro hotel tiene para ofrecerte:</p>
      <div class="button-container">
        <button class="primary">Reserva ahora</button>
        <button class="secondary">Ver habitaciones</button>
        <button class="warning">Cancela tu reserva</button>
        <button class="success">Confirma tu reserva</button>
        <button class="cancel">Elminar reserva</button>

      </div>
      <!-- inputs -->
      <label for="required-input">Input requerido:</label>
      <input type="text" id="required-input" name="required-input" required>

      <label for="optional-input">Input opcional:</label>
      <input type="text" id="optional-input" name="optional-input">
      <div>
        <!-- card -->
        <div class="card">
          <img src="https://via.placeholder.com/150" alt="Imagen de ejemplo" class="card-img">
          <div class="card-body">
            <h2 class="card-title">Título de la tarjeta</h2>
            <p class="card-text">Este es el contenido de la tarjeta. Aquí se pueden incluir descripciones, detalles o cualquier otro texto relevante.</p>
            <button class="card-button primary">Botón principal</button>
            <button class="card-button secondary">Botón secundario</button>
          </div>
        </div>
      </div>
      <!-- table -->
      <table id="hotelTable" class="display" style="width:100%">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo de Habitación</th>
            <th>Precio</th>
            <th>Disponible</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hotel A</td>
            <td>Habitación Sencilla</td>
            <td>$100</td>
            <td>Sí</td>
          </tr>
          <tr>
            <td>Hotel B</td>
            <td>Habitación Doble</td>
            <td>$150</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Hotel C</td>
            <td>Suite</td>
            <td>$200</td>
            <td>Sí</td>
          </tr>
        </tbody>
      </table>
      <!-- circ graphic -->
      <app-circ-graphic></app-circ-graphic>
      <!-- bars graphic -->
      <app-bars-graphic></app-bars-graphic>
    </main>
    <footer>
      <p>Hotel App - Todos los derechos reservados</p>
    </footer>
  </body>
</html>
